html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height:900px;
}
.header {
	background-color: #FF9800;
	display: flex;
	height:auto;
	flex-grow:1;
	flex-direction: row;
	color:#FFF;
	font-size: 10px;
	line-height: 300%;
  max-height: 56px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.headertext {
	padding-left: 10px;
}

.menuimg {
	padding-left: 10px;
  padding-top: 10px;
}

.text{
	font-size: 25px;
	color: #000;
  position: absolute;
  z-index: 1;
  left:42vw;
  top:42vh;
}

.mic{
  z-index: 1;
  width: 30px;
  height: 30px;
  position: absolute;
  left:54.5vw;
  top:50.5vh;
}
.list{
  display: flex;
  flex-direction: column;
}

.box{
  width:auto;
  height:50px;
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.box a {
  text-decoration: none;
}

#map {
height:100%;
  }

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: 'Roboto' sans-serif;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
  height:40px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  background-color: #FFF;
  left:-600px;
  top:0px;
  height:100%;
  width:20%;
  padding-top: 60px;
  padding-left: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

.menuAnimation {
  animation: menu 0.15s 1;
  animation-fill-mode: forwards;
}

.menu a {
  text-decoration: none;
}

.closemenu {

}


@keyframes menu {
  from {
    left:-500px;
  }
  to {
    left:0px;
  }
}

/*
input{
	display: flex;
	justify-content: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: 0 10px 20 px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s

  }

/* When you mouse over the navigation links, change their color
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner)
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    margin:0;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .text {
      font-size: 25px;
      left:18vw;
    }
    .mic {
      left:71.5vw
    }
    .menu {
      width:80%;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .text {
      font-size: 25px;
      left:30vw;
      top: 40vh;
    }
    .mic {
      left:62vw;
      top:51vh;
    }
    .menu {
      width:40%;
    }

}
